.bottom-space{
  margin-bottom:30px;
}
.btn-lg{
  border-radius:3px;
}
.extra-space{
  margin-top: 3%;
}
.bordered{
  width:100%;
  border:5px solid #cc0000;
  position:relative;
}
.bordered:after{
  content: ' ';
  width: 0px;
  height: 0px;
  border-top: 20px solid #cc0000;
  border-left: 72px solid transparent;
  border-bottom:20px solid transparent;
  border-right:72px solid transparent;
  position: absolute;
  left: 44%;
  top: 100%;
}
.boxed-text{
  position: absolute;
  background-color: rgba(0,0,0,.6);
  border:1px solid transparent;
  bottom: 0;
  width: 100%;
}
.text-margin{
  margin:5%;
  width:75%;
}
.boxed-text p{
  color:#fff;

  text-align:center;

}
.boxed-text h4{
  color:#fff;

  text-align:center;

}
a.right.carousel-control,
a.left.carousel-control{
  height:37.5px;
  width:46.5px;
}
.right.carousel-control,
.left.carousel-control{
  top: 85%;
}
.left.carousel-control{
  left: 90%;
}

.carousel-indicators{
  display: none;
}
.carousel-control.right,
.carousel-control.left{
  background-image:none;
}
.center{
  text-align:center;
}
.light{
  font-weight:300;
}

.bold{
  font-weight:700;
}
.medium{
  font-weight:500;
}
.regular{
  font-weight:400;
}

.fill{
  color:#b30000;
}

.white{
  color:#fff;
}

.highlighted{
  color: black;
  background-color: #f1f3f4;
}
.right{
  text-align: right;
}

.col-md-6{
  padding-left:0px !important;
  padding-right:0px !important;
}
.up_1{
  font-size:1.25em;
}
.extra_space{
  padding-right:15px;
  padding-left:15px;
  font-size:1.35em;
}
.right-align{
  text-align:right;
  float:right;
}
.clearfix{
  overflow:auto;
}
.col-md-12{
  background-color:#cc0000;
}
.col-md-3{
  margin-top:25px;
  margin-bottom:25px;

}
.col-md-9{
  margin-top:25px;
  margin-bottom:25px;

}
.fill{
  color:#cc0000;
}
.white{
  color:#fff;
}
.upsize_red{
  color:#cc0000;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}
.center{
  text-align:center;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size:12px;
}
.left-line{
  border-left:1px solid #e1e4e5;
}

.white_heading{
  color:#fff;
  font-size:18px;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}
.subhead{
  color:#000;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}
.subhead-bold{
  color:#000;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
}
.subtext{
  color:#000;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
}
.black-btn{
  background-color:black;
}

@media (max-width:629px) {
  .mobile-hide {
    display: none;
  }
  h1{
    font-size:18px;
  }
  .subhead{
    font-size:13px;
  }
  .subhead-bold{
    font-size:13px;
  }
  img{
    float:none !important;
  }
  .subhead:before{ 
    content: ' '; 
    display: block; 
  }
  .subhead-bold:before{ 
    content: ' '; 
    display: block; 
  }
  h4{
    font-size:13px;
  }
  p{
    font-size:13px;
  }
  .btn{
    font-size:16px;
  }
  .btn-space{
    padding-top:25px;
  }
  .bordered:after{
    border-top: 20px solid transparent;
    border-left: 72px solid transparent;
    border-bottom:20px solid transparent;
    border-right:72px solid transparent;
    left:30%;
  }
}


